html {
    width: 100%;
    height: 100%;
    font-family: Consolas, 'Courier New', 'Lucida Console', monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #af2184;
    background-image: -webkit-repeating-linear-gradient(top left, #e0620d 0%, #af2184 100%);
    background-image: repeating-linear-gradient(to bottom right, #e0620d 0%, #af2184 100%);
    background-image: -ms-repeating-linear-gradient(top left, #e0620d 0%, #af2184 100%);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.app {
    width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 600px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app input {
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    outline: none;
    border: none;
    line-height: 2em;
    font-family: Consolas, 'Courier New', 'Lucida Console', monospace;
    flex: 1;
    margin: 0 20px;

}

.input-section {
    width: 60%;
    text-align: center;
    border-radius: 1000px;
    border: 2px solid rgba(97, 223, 154, 0);
    background-color: rgb(236, 236, 236);
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: relative;
}


.input-section:hover {
    background-color: rgb(231, 231, 231);
}

.app select {
    outline: none;
    padding: 2px;
    font-family: Consolas, 'Courier New', 'Lucida Console', monospace;
    border: 1px solid rgb(169, 169, 169);
    height: 28px;
    margin: 6px 0px;
    background-color: rgb(255, 255, 255);
}

.app select:hover {
    outline: none;
}

.app button {
    border: none;
    outline: none;
    margin: 4px;
    height: 32px;
    width: 32px;
    border-radius: 1000px;
    color: rgba(182, 182, 182, 0.8);
    font-family: Consolas, 'Courier New', 'Lucida Console', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-button {
    height: 18px;
    width: 18px;
    margin-left: 3px;
}

.app button:disabled {
    background-color: rgb(255, 255, 255);
    cursor: default;
}

.app button:enabled {
    cursor: pointer !important;
}

.app button:enabled:hover {
    background-color: rgb(69, 211, 133) !important;
}

.app p {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

.app h4 {
    font-weight: unset;
    font-style: italic;
    margin: 5px 0 20px 0;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.7);
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.app h5 {
    margin: 5px 0;
    font-weight: bold;
    font-size: 1.05em;
    color: rgba(81, 53, 97, 0.8);
}

.app a {
    cursor: pointer;
    text-decoration: none;
    visibility: visible;
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.link-box {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.regex-good {
    border: 2px solid rgb(97, 223, 153) !important;
}

.regex-bad {
    border: 2px solid rgb(207, 76, 76) !important;
}

.fill-good {
    background-color: rgb(97, 223, 153) !important;
    color: white !important;
}

.fill-bad {
    background-color: rgb(207, 76, 76) !important;
    color: white !important;
}

.inactive {
    visibility: hidden !important;
    opacity: 0 !important;
}